:root {
	--darkblue: #004c93;
	--blue: #0e61ab;
	--blue2: #2c7bc7;
	--lightblue: #e1eefb;
	--lightblue2: #f3f9ff;
	--green: #3ab9b8;
	--red: #ea1749;
	--yellow: #ffd601;
	--gray: #363f44;
	--lightgray: #bcc0c2;
	--black: #000000;
	--white: #ffffff;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}
body {
	background: var(--lightblue2);
	min-height: 276px;
	padding-bottom: 28px;
}
.container {
	max-width: 1300px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 370px;
	background-color: var(--lightblue);
}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 106px;
}
.city {
	display: flex;
	justify-content: center;
	align-items: center;
}
.city_name {
	margin-left: 8px;
	color: var(--blue);
	border-bottom: 1px dotted var(--blue);
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}
.contact a {
	text-decoration: none;
	font-weight: 500;
	font-size: 21px;
	line-height: 26px;
	color: var(--black);
}
.call {
	display: flex;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--blue);
}
.call_img_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	background-color: var(--yellow);
	border-radius: 100%;
}
.call_text {
	margin-left: 13px;
	border-bottom: 1px dotted var(--blue);
}

nav a {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	margin-left: 10px;
	color: var(--blue);
}
.menu_bar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 14px;
	position: absolute;
	top: 105px;
}
.menu_bar_wrapper {
	display: grid;
	grid-template-columns: 296px 121px 137px 506px 240px;
	/* grid-template-columns: 30% 12% 14% 75% 24%; */
}
.menu_bar_catalog {
	height: 60px;
	background: var(--darkblue);
	color: var(--lightgray);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu_bar_catalog_span {
	height: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu_bar_catalog_span span {
	width: 24px;
	height: 2px;
	background: var(--lightgray);
}
.menu_bar_promotion,
.menu_bar_brend {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--lightgray);
}
.menu_bar_promotion {
	height: 60px;
	background: var(--blue);
}
.menu_bar_brend {
	height: 60px;
	background: var(--blue2);
}
.menu_bar_search {
	display: flex;
	justify-content: space-between;
	padding: 0 20px 0 20px;
	align-items: center;
	background: var(--white);
}
.menu_bar_search_icon {
	display: flex;
	align-items: center;
}
.menu_bar_account {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #f1f8ff;
	position: relative;
}
.menu_bar_account_user::before,
.menu_bar_account_basket::before {
	content: "2";
	position: absolute;
	width: 22px;
	height: 22px;
	left: 104px;
	top: -12px;
	border-radius: 100%;
	background: var(--yellow);
	color: var(--darkblue);
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu_bar_account_basket::before {
	content: "4";
	width: 22px;
	height: 22px;
	left: 173px;
	top: -12px;
}
.menu_bar_account_user,
.menu_bar_account_heart,
.menu_bar_account_basket {
	display: flex;
}
.banner {
	margin-top: -190px;
}
.banner_wrapper {
	height: 380px;
	width: 100%;
	display: grid;
	grid-template-areas:
		"slider slider banner_top"
		"slider slider banner_bottom";
}
.slider {
	grid-area: slider;
	position: relative;
	background: var(--darkblue);
	max-width: 867px;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* .slider-container {
		display: flex;
	 
} */
.slider_title {
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.15em;
	color: var(--white);
	margin: 0 104px 13px 0;
}
.slider_descr {
	margin-bottom: 31px;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: var(--white);
}
.slider_btn {
	width: 162px;
	height: 52px;
	background: var(--yellow);
	border: none;
	border-radius: 5px;
}
.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.prev {
	left: 20px;
}

.next {
	right: 20px;
}

.banner_top {
	grid-area: banner_top;
	background: var(--blue);
	max-width: 433px;
}

.banner_bottom {
	grid-area: banner_bottom;
	background: var(--green);
	max-width: 433px;
}
.banner_top,
.banner_bottom {
	padding-right: 86px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.banner_bottom_title,
.banner_top_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: var(--white);
}
.banner_bottom_link,
.banner_top_link {
	margin-top: 13px;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15em;
	color: var(--white);
}

.advantages {
	width: 100%;
	height: 66px;
	margin-top: 42px;
}
.advantages_wrapper {
	/* display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin: 0 auto; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.advantages_inner {
	max-height: 63px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.advantages_img {
	width: 50px;
	padding-right: 25px;
}
.advantages_descr {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: var(--black);
}
.collection_wrapper {
	display: grid;
	/* grid-template-columns: 649px 434px 230px; */
	/* grid-template-columns: repeat(6, 209px); */
	gap: 10px;
}
.coll1 {
	grid-column: 1/4;
	grid-row: 1/4;
	width: 626px;
	height: 432px;
	background: url(/img/coll1.jpeg) no-repeat center/cover;
}
.coll2 {
	grid-column: 4/6;
	grid-row: 1/3;
	width: 425px;
	height: 205px;
	background: url(/img/coll2.jpeg) no-repeat center/cover;
}
.coll3 {
	grid-column: 6/7;
	grid-row: 1/2;
	width: 230px;
	height: 205px;
	background: url(/img/coll3.jpeg) no-repeat center/cover;
}
.coll4 {
	grid-column: 4/5;
	grid-row: 2/3;
	width: 230px;
	height: 216px;
	background: url(/img/coll4.jpeg) no-repeat center/cover;
}
.coll5 {
	grid-column: 5/7;
	grid-row: 2/3;
	width: 425px;
	height: 216px;
	background: url(/img/coll5.jpeg) no-repeat center/cover;
}
.colletion_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: var(--black);
	margin: 42px 0 54px 0;
	border-bottom: 1px solid #1061ab;
	width: 310px;
}
.hit_title {
	width: 222px;
}
.promotion_title {
	width: 109px;
}
.collection_inner {
	display: flex;
	/* flex-direction: col; */
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-start;
}
.collection_inner_title {
	display: flex;
	align-items: end;
	padding: 12px 20px;
	background: rgba(59, 185, 184, 0.8);
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--white);
}
.collection_inner_name {
	padding: 12px 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: var(--white);
}
.hit {
	padding-bottom: 50px;
}
.promotion {
	min-height: 773px;
	/* margin-bottom: 80px; */
	background: #eaf4ff;
	padding: 25px 0 50px 0;
}

.hit_nav,
.promotion_nav {
	display: flex;
	gap: 10px;
}
.hit_nav_link,
.promotion_nav_link {
	padding: 8px 16px;
	background: var(--white);
	border-radius: 4px;
	color: var(--black);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 30px;
	transition: all 0.3s ease-in;
}
.hits,
.promotions {
	display: flex;
	position: relative;
}
.hit_nav_link:first-child,
.promotion_nav_link:first-child {
	background: var(--green);
	color: var(--white);
}
.hit_nav_link:hover,
.promotion_nav_link:hover {
	background: var(--green);
	color: var(--white);
}
.hit_cards_img,
.promotion_cards_img {
	height: 288px;
	padding: 20px 0 0 20px;
}
.hit_cards_img button {
	display: none;
	transition: all 0.5s linear;
}
.hit_cards_img:hover button {
	background: rgba(44, 123, 199, 0.5);
	position: fixed;
	top: 137px;
	background: #1781e381;
	padding: 13px 33px;
	border-radius: 5px;
	border: none;
	color: var(--white);
	margin-left: 14px;
	transition: all 0.3 linear;
	display: block;
}
.hit_cards_img_1 {
	background: url(/img/sink.png) no-repeat center center/cover;
}
.promotion_cards_img_1 {
	background: url(/img/tap.png) no-repeat center center/cover;
}
.hit_cards_img_2 {
	background: url(/img/bath.png) no-repeat center center/cover;
}
.promotion_cards_img_2 {
	background: url(/img/showerСabin.png) no-repeat center center/cover;
}
.hit_cards_img_3 {
	background: url(/img/shower.png) no-repeat center center/cover;
}
.promotion_cards_img_3 {
	background: url(/img/bath2.png) no-repeat center center/cover;
}
.hit_cards_img_4 {
	background: url(/img/toilet.png) no-repeat center center/cover;
}
.promotion_cards_img_4 {
	background: url(/img/toilet2.png) no-repeat center center/cover;
}
.hit_cards_img_5 {
	background: url(/img/dryer.png) no-repeat center center/cover;
}
.promotion_cards_img_5 {
	background: url(/img/sink2.png) no-repeat center center/cover;
}
.hit_cards,
.promotion_cards {
	height: 540px;
	width: 259px;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-right: 0.01px solid var(--black);
	border-left: 0.01px solid var(--black);
}
.hit_cards_name:hover {
	color: #1061ab;
}
.hit_cards_pro,
.promotion_cards_pro {
	width: 49px;
	height: 24px;
	background: var(--yellow);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
}
.promotion_cards_pro {
	width: 70px;
	background: var(--red);
	color: var(--white);
}
.hit_cards_star,
.promotion_cards_star {
	display: flex;
}
.hit_cards_rating,
.promotion_cards_rating {
	display: flex;
}
.hit_cards_comment,
.promotion_cards_comment {
	display: flex;
}
.hit_cards_comment,
.promotion_cards_comment img {
	margin: 0 5px 0 8px;
}
.hit_cards_bottom,
.promotion_cards_bottom {
	margin: 20px 20px 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hit_cards_name,
.promotion_cards_name {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: var(--black);
	margin-top: 15px;
	transition: all 0.3s ease-in;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.promotion_cards_name:hover {
	color: #1061ab;
}
.hit_cards_price,
.promotion_cards_price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hit_cards_country,
.promotion_cards_country {
	margin: 30px 0 13px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: var(--black);
}
.hit_cards_price_left,
.promotion_cards_price_left {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--black);
}
.hit_cards_price_right,
.promotion_cards_price_right {
	width: 99px;
	height: 36px;
	border: 1px solid var(--blue2);
	background: transparent;
	color: var(--blue2);
	border-radius: 5px;
	transition: all 0.3s ease-in;
}
.hit_cards_comment-num {
	margin-left: 5px;
}
.hit_cards_price_right:hover,
.promotion_cards_price_right:hover {
	background: var(--blue2);
	color: var(--white);
}
.promotion_cards_price_flex {
	display: flex;
	flex-direction: column;
}
.promotion_cards_price_left_crossOut {
	margin-top: 10px;
	text-decoration: line-through;
	font-weight: 700;
	font-size: 18px;
	color: var(--red);
}
.slick-prev {
	position: absolute;
	background: #d5e0e58f url(/icons/prev.svg) no-repeat center center;
	font-size: 0;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 5px;
	top: 40%;
	left: 10px;
	transform: translate(-50%);
	z-index: 1;
}

.slick-next {
	font-size: 0;
	position: absolute;
	background: #d5e0e58f url(/icons/next.svg) no-repeat center center;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 5px;
	top: 40%;
	right: -38px;
	transform: translate(-50%);
}
.article .slick-prev {
	left: 22px;
}
.article .slick-next {
	right: -28px;
}
.brends {
	min-height: 1890px;
	background: var(--lightblue2);
	padding: 62px 0 0px 0;
}
.brends_banner {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.15em;
	color: var(--white);
	width: 100%;
	height: 120px;
	background: #2b7bc6;
	border-radius: 7px;
}
.brends_title {
	width: 344px;
}
.brends_container {
	margin: 36px 0 40px 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
}
.brends_inner {
	width: 200px;
	height: 125px;
	background: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	box-shadow: 0px 0px 9px #00000058;
}
.article_title {
	width: 111px;
}
.article_wrapper {
	display: flex;
}
.article_inner {
	display: flex;
	flex-direction: column;
	width: 305px;
	height: 378px;
	background: var(--white);
	margin: 0 10px 0 10px;
}
.article_img img {
	width: 305px;
	height: 247px;
}
.article_descr {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: var(--black);
	padding: 20px 0 0 20px;
}
.seo {
	position: relative;
	padding-top: 70px;
	height: 550px;
	width: 100%;
	
}
.seo_left_img img {
	width: 569px;
	position: absolute;
	z-index: 2;
}
.seo_text {
	padding-top: 95px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	width: 963px;
	height: 452px;
}
.seo_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: var(--black);
	padding-left: 300px;
}
.seo_descr {
	margin-top: 38px;
	background: var(--green);
	display: flex;
	justify-content: center;
}
.seo_descr_content {
	padding: 49px 73px 109px 300px;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	height: 330px;
	width: 650px;
}
	
footer {
	padding: 36px 0 47px 0;
	background: var(--white);
	min-height: 420px;
}
.footer_wrapper {
	display: flex;
	justify-content: space-around;
}
.footer_wrapper_1 {
	display: flex;
	flex-direction: column;
}
.footer_link {
	margin-bottom: 20px;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	color: #2B7BC6;
}
.footer_copy {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #99A3A9;
	text-decoration: none;

}
.footer_logo {
	margin: 57px 0 17px 0;
}
.footer_wrapper_2 {
	display: flex;
	flex-direction: column;
}
.footer_wrapper_3 {
	display: flex;
	flex-direction: column;
}
.footer_phone {
	font-weight: 400;
	font-size: 21px;
	line-height: 40px;
	color: var(--black);
	text-decoration: none;
}
.footer_btn {
	padding: 6px 13px;
	margin: 24px 0 24px 0;
	background: transparent;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	color: #1061AB;
	border: 1px solid #1061AB;
	border-radius: 7px;
	transition: all 0.4s ease-out;
}
.footer_btn:hover {
	color: var(--white);
	background: #1061AB;
}
.footer_workMode {
	margin-bottom: 17px;
}
.social {
	margin-top: 54px;
}
.social_img {
	width: 147px;
	display: flex;
	justify-content: space-between;
}
.footer_wrapper_4 {
	display: flex;
	flex-direction: column;
}
.footer_address {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: var(--black);
}
.footer_yandex {
	margin-top: 128px;
}
.copy_not {
	padding: 41px 0 49px 0;
}
.copy_not_text {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #99A3A9
}
.copy_not_text span {
	color: #1061AB;
}
.loader {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loading {
    width: 300px;
    height: 300px;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: anim .7s linear infinite;
}


/* 0turn = 0deg  */
/* 1turn = 360deg */

@keyframes anim {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}
